<div>

    <div class="jumbotron text-center">
        <h1>Thermostat</h1>
        <p>Is a project for Politecnico di Torino.
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h2>About Us</h2>
            <h4>Paolo Calao :  <a href="mailto:paolo.calao@gmail.com"> paolo.calao@gmail.com </a></h4>
            <h4>Bli : <a href="mailto:bli@studenti.polito.it"> bli@studenti.polito.it </a></h4>
            <h4>Bla : <a href="mailto:bla@studenti.polito.it"> bla@studenti.polito.it </a></h4>
        </div>
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
        <div class="col-sm-2">
            <span class="glyphicon glyphicon-user logo"></span>
        </div>
    </div>
</div>

<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-blackboard logo"></span>
        </div>
        <div class="col-sm-8">
            <p><strong>Requirements:</strong> Realization of a smart thermostat. It should be able to detect temperatures in the house 
            and to drive many actuators, in order to manage the temperature as the owner of the system wants.</p>
        </div>
    </div>
</div>
